<launch>
	<!-- arguments and parameters -->

	<!-- simulator parameter -->
	<arg name="model" value="diff" doc="[diff, omni, car]"/>
    <arg name="env_map" value="new_office_1" doc="[office,...]"/>
	<arg name="obstacle_height" value="1.5"/>
	<!-- planner parameter -->
	<arg name="time_delay" value="200.0"/>
	<!-- <arg name="base_pose_x" value="22.5"/>
	<arg name="base_pose_y" value="13.5"/>
	<arg name="base_pose_z" value="0.0"/> -->
	<arg name="max_speed" value="0.4"/>
	<!-- slam parameter -->
	<arg name="maxUrange" value="5.9"/>
	<arg name="xmin" value="-30"/>
	<arg name="ymin" value="-30"/>
	<arg name="xmax" value="30"/>
	<arg name="ymax" value="30"/>
	<!-- frontier generator parameter -->
	<arg name="frontier_max_x" value="27"/>
	<arg name="frontier_max_y" value="18"/>
	<arg name="frontier_min_x" value="-27"/>
	<arg name="frontier_min_y" value="-18"/>
	<!-- map merge parameter-->
	<arg name="map_origin_x" value="-30"/>
	<arg name="map_origin_y" value="-30"/>
	<!-- task_planner_node -->
	<arg name="robot_num" value="4"/>

	<param name="/use_sim_time" value="true"/>

	<!-- stage_ros -->
	<node name="stageros" pkg="rocopar_stageros" type="stageros"
		args="$(find rocopar_bringup)/worlds/stage/$(arg env_map).world"
		output="screen" respawn="true">
		<param name="base_watchdog_timeout" value="0.2"/>
	</node>

	<!-- multirobot_map_merge -->
	<include file="$(find rocopar_bringup)/launch/multirobot_map_merge.launch">
		<arg name="map_origin_x" value="$(arg map_origin_x)"/>
		<arg name="map_origin_y" value="$(arg map_origin_y)"/>
	</include>

	<!-- Roadmap Builder -->
	<include file="$(find roadmap_builder)/launch/dynamic_roadmap_builder.launch">
		<arg name="map_topic" value="merged_map"/>
		<arg name="frontier_max_x" value="$(arg frontier_max_x)"/>
		<arg name="frontier_max_y" value="$(arg frontier_max_y)"/>
		<arg name="frontier_min_x" value="$(arg frontier_min_x)"/>
		<arg name="frontier_min_y" value="$(arg frontier_min_y)"/>
	</include>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz"
		args="-d $(find rocopar_bringup)/rviz/complete_multi_stage.rviz"/>

	<!-- task_planner_node -->
	<!-- <include file="$(find rocopar_task_planner)/launch/task_planner.launch">
        <arg name="robot_num" value="$(arg robot_num)"/>
    </include> -->

	<!-- ======== Bringup instances of robots ======== -->
	<!-- begin robot_0 -->
	<include file="$(find rocopar_bringup)/launch/robot_bringup.launch">
		<arg name="robot_namespace" value="robot_0" />
        <arg name="init_pose_x" value="0.0"/>
        <arg name="init_pose_y" value="0.0"/>
        <arg name="init_pose_z" value="0.0"/>
        <arg name="init_pose_yaw" value="0.0"/>
		<arg name="max_speed" value="$(arg max_speed)"/>
		<arg name="maxUrange" value="$(arg maxUrange)"/>
		<arg name="xmin" value="$(arg xmin)"/>
		<arg name="ymin" value="$(arg ymin)"/>
		<arg name="xmax" value="$(arg xmax)"/>
		<arg name="ymax" value="$(arg ymax)"/>
	</include>

	<!-- begin robot_1 -->
	<include file="$(find rocopar_bringup)/launch/robot_bringup.launch">
		<arg name="robot_namespace" value="robot_1" />
        <arg name="init_pose_x" value="0.0"/>
        <arg name="init_pose_y" value="0.0"/>
        <arg name="init_pose_z" value="0.0"/>
        <arg name="init_pose_yaw" value="0.0"/>
		<arg name="max_speed" value="$(arg max_speed)"/>
		<arg name="maxUrange" value="$(arg maxUrange)"/>
		<arg name="xmin" value="$(arg xmin)"/>
		<arg name="ymin" value="$(arg ymin)"/>
		<arg name="xmax" value="$(arg xmax)"/>
		<arg name="ymax" value="$(arg ymax)"/>
	</include>

	<!-- begin robot_2 -->
	<include file="$(find rocopar_bringup)/launch/robot_bringup.launch">
		<arg name="robot_namespace" value="robot_2" />
        <arg name="init_pose_x" value="0.0"/>
        <arg name="init_pose_y" value="0.0"/>
        <arg name="init_pose_z" value="0.0"/>
        <arg name="init_pose_yaw" value="0.0"/>
		<arg name="max_speed" value="$(arg max_speed)"/>
		<arg name="maxUrange" value="$(arg maxUrange)"/>
		<arg name="xmin" value="$(arg xmin)"/>
		<arg name="ymin" value="$(arg ymin)"/>
		<arg name="xmax" value="$(arg xmax)"/>
		<arg name="ymax" value="$(arg ymax)"/>
	</include>

	<!-- begin robot_3 -->
	<include file="$(find rocopar_bringup)/launch/robot_bringup.launch">
		<arg name="robot_namespace" value="robot_3" />
        <arg name="init_pose_x" value="0.0"/>
        <arg name="init_pose_y" value="0.0"/>
        <arg name="init_pose_z" value="0.0"/>
        <arg name="init_pose_yaw" value="0.0"/>
		<arg name="max_speed" value="$(arg max_speed)"/>
		<arg name="maxUrange" value="$(arg maxUrange)"/>
		<arg name="xmin" value="$(arg xmin)"/>
		<arg name="ymin" value="$(arg ymin)"/>
		<arg name="xmax" value="$(arg xmax)"/>
		<arg name="ymax" value="$(arg ymax)"/>
	</include>

</launch>
