<launch>
    <!-- arguments -->
    <arg name="map_topic" default="map"/>
    <arg name="scan_topic" default="scan"/>

    <!-- slam_toolbox -->
    <node name="slam_toolbox" pkg="slam_toolbox" type="async_slam_toolbox_node" output="screen">
        <remap from="map" to="$(arg map_topic)"/>
        <remap from="scan" to="$(arg scan_topic)"/>
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="slam_odom"/>
        <param name="base_frame" value="base_link"/>
        <rosparam command="load" file="$(find rocopar_bringup)/config/slam/mapper_params_online_async.yaml"/>
    </node>

    <!-- map_extender -->
    <node name="map_extender" pkg="rocopar_exploration" type="map_extender" respawn="true">
        <remap from="map" to="$(arg map_topic)"/>
    </node>

    <!-- static TF broadcaster -->
    <node name="new_map_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map new_map"/>
</launch>